@model SafeFoods.Models.RecipeModels.RecipeFridgeSearch

@{
    ViewBag.Title = "FridgeSearch";
}

<h2>Fridge Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Here you can search recipes by providing what ingredients you have in your fridge.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ingredientTagOneId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("First Ingredient", new SelectList(ViewBag.RecipeFridgeSearch, "IngredientTagId", ("Name")));
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ingredientTagTwoId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ingredientTagTwoId", new SelectList(ViewBag.RecipeFridgeSearch, "IngredientTagId", ("Name")));
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ingredientTagThreeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ingredientTagThreeId", new SelectList(ViewBag.RecipeFridgeSearch, "IngredientTagId", ("Name")));
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ingredientTagFourId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ingredientTagFourId", new SelectList(ViewBag.RecipeFridgeSearch, "IngredientTagId", ("Name")));
        </div>
    </div>
</div>
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

